body {
	background-color: white;
	background-image: url("../images/madrid_center.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/************************* Header styles *************************/
.bgNav {
	background-color: #343a40;
	background-image: linear-gradient(to bottom, #851a21, #460b0b);
	color: white;
}
.bgDropdown {
	background-image: linear-gradient(to bottom, #4b1619, #270d0d);
}

.nav-link {
	font-size: 18px;
}

.appTitle {
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.logo {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bolder;
	font-size: 32px;
}
.l-container {
	border: 4px solid white;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
	transition-property: transform, color;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;

	box-shadow: 0px 0px 15px 1px black;
}
.l-container:hover {
	transform: scale(1.05);
	border-color: #851a21;
	box-shadow: 0px 0px 15px 1px white;
	background-color: white;
	color: #851a21;
}
.l-container:active {
	transform: scale(1);
}

/************************* Default styles *************************/
h2,
h1 {
	margin-bottom: 20px;
}
p,
li {
	font-size: 18px;
}
.fringe {
	background-color: rgba(168, 0, 39, 0.85);
	text-align: center;
	padding: 25px 0px;
	color: white;
}
span img {
	width: 85px;
	height: 60px;
	box-shadow: 0px 0px 8px 0.3px;
}
.countryBtn {
	padding: 5px 20px;
	border-radius: 10px;
	width: 120px;
	border: 3px solid rgb(193, 28, 66);
	font-weight: bold;
	background-color: white;
	color: black;
	transition-property: transform, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.countryBtn:hover {
	background-color: rgb(193, 28, 66);
	color: white;
	transform: scale(1.15);
}
.countryBtn:active {
	transform: scale(1);
}
.hrDiv {
	border: 2px solid rgba(168, 0, 39, 0.85);
}
#america {
	display: block;
}
#europe {
	display: none;
}
#africa {
	display: none;
}
.text-countries {
	padding: 15px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.85);
}

/************************* INDEX PAGE STYLES *************************/
.text-container {
	padding: 15px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	text-align: justify;
	background-color: rgba(255, 255, 255, 0.85);
}
.separator {
	margin: 3px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 2px;
	background-color: rgb(168, 33, 67);
	border-radius: 8px;
}

/************************* LMD DOC PAGE STYLES *************************/
.text-underline {
	text-decoration: underline black;
	text-underline-offset: 6px;
	margin-bottom: 15px;
}

.btn_links,
.btn_next_section {
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 15px 1px #606060;
	padding: 8px;
	font-size: 18px;
	font-weight: bold;
	background-color: #156e28;
	transition-property: transform, background-color;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.btn_links a,
.btn_next_section a {
	text-decoration: none;
	color: white;
}
.btn_links:hover,
.btn_next_section:hover {
	transform: scale(1.03);
	box-shadow: 0px 0px 10px 1px #606060;
	background-color: #00ab25;
}
.btn_links:active,
.btn_next_section:active {
	transform: scale(1);
}

.btn_next_section {
	background-color: #851a21;
}
.btn_next_section:hover {
	background-color: #9a0a13;
}

/************************* FOOTER STYLES *************************/
.footerLink {
	color: white;
}
.footerLink:hover {
	color: rgb(110, 110, 110);
}
.bg-footer-end {
	background-color: #00000070;
}

.subMenu {
	font-size: 20px;
	margin: 0px;
	padding-left: 6px;
}

/************************* Media Queries *************************/
@media screen and (max-width: 580px) {
	.l-container {
		transition-property: transform;
	}
}
